.navbar{
    height: 150px;
    background-color: rgba(90, 106, 106, 0.689);
    width: 100%;
    /* position: fixed; */
  }

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 18px;
}

.navbar ul li:last-child{
    padding-right: 20px;
}